<p>
  From his obituary:
</p>
<blockquote>
  <p>Robert Franklin Harrison</p>
  <p>Bob’s gentle and courageous spirit left us on June 29th, quietly, soft-
ly, and peacefully. He was at home surrounded by the love and comfort
of his friends and caregivers, Barbara, Gerry, Sheila, Neil and Michael
Browne. His longtime companion, Todd Brumaghim, closest to his
heart, was the last word on his breath, “T odd.”</p>
  <p>There are so many who will miss the dear and beautiful man. He is
survived by parents Pete and Gladys, his brothers David, Jeff and Tom,
and spiritual community brothers, James and Michael. In addition to his
many professional friendships made in a 21-year career at Bank of
America, his loss will also be felt by many who enjoyed his warmth and
compassion in volunteer efforts and community service. His endearing
smile and sparkling eyes can never be replaced.</p>
  <p>We love you, we miss you Bob. Remember us in that perfect place
of eternal joy that is now yours.</p>
</blockquote>