<p>
  From his obituary:
</p>
<blockquote>
  <p>Brett passed away the morning of July 29 after a long struggle against AIDS. He died at home with his dogs beside him. His last days
 were spent with his lover, Gregg; parents, Shirley and Leonard; best friend, Ed; and others coming over to say their goodbyes.</p>
 <p>Brett was born in Texas and moved to San Francisco in 1984, ﬁnding his home in a City that could appreciate his unique personality. He worked at the City Athletic Club. Always Tan and Trim, and Knight Ridder.</p>
 <p>His interests included the gym. B-52s, acting, Eagle beer busts, doing his comedy and his alter ego, “Elvira, Mistress of the Dark.” He was Russian River Leather Daddy's Boy'89, March '90 for the Eagle calendar, and Miss Soft Crab 1945 at his third annual wig party.</p>
 <p>Brett was definitely one of a kind. [...] When you remember Brett, remember that he was more than a great set of biceps; he was also an incredible set of pecs.</p>
 <p>“Unpleasant dreams. my darlings."</p>
</blockquote>
