<p>
  From his obituary:
</p>
<blockquote>
  <p>Bruce Combs died peacefully at home with the loving and supportive presence of his parents and lover. His three brothers, two from Oklahoma, and one from Kansas, visited with him and shared a very special time with him on his recent birthday.</p>
  <p>A native to Oklahmoa, Bruce moved to California in 1972, first to Los Angeles and then San Francisco and the Bay Area. He worked as a real estate resale specialist for Chevron for many years and most recently with PHH Home Equity.</p>
  <p>Bruce is survived by his lover and life companion, Paul Schleicher; his parents Dr. and Mrs. Leon Combs of Oklahoma; numerous aunts uncles and cousins, including loving, suppertive and helpful uncle and aunt in San Francisco, Harold and Joanna Combs.</p>
  <p>Bruce anticipated his death as he had planned and organized his life and the parties he loved to host with love dignity and a sense of humor. He wanted to pass quickly, without inconveniencing his friends and family, at home and sleeping, his lover by his side. He
achieved his goal.</p>
</blockquote>
