<p>
  From his obituary:
</p>
<blockquote>
  <p>Bruce Starr died October in Palm Springs, California of AIDS-related  lymphoma. He was born in Philadelphia, Pennsylvania on March 12, 1956.
He was the son of Sidney Starr and Maxine Gross Starr. He graduated
from Delhass High School, Levittown, Pennsylvania in 1974. In 1977, he moved to Los Angeles. In 1983, he received his Licensed Vocational Nursing degree from Casa Loma College, Los Angeles.</p>

<p>In 1987, he moved to San Francisco. He worked as an LVN for 13 years at various San Francisco hospitals. In 1994, he was Mr. December for the San Francisco Bare
Chest calendar. He also performed in the Men Behind Bars revue with Gail Wilson from the City Swing Big Band troupe. He volunteered for the Names Project. Proiect Inform, the GUST Center and the San Francisco AIDS Foundation.</p>

<p>In 2001, he received a degree in Clinical Trials Design and Management from U.C, Santa Cruz and he began a new career in the pharmaceutical industry. In 2003,
he received a Bachelor’s degree in Business Management from St. Mary's College in Moraga. In 2004, he and his partner relocated to Palm Springs, where he continued working in the pharmaceutical industry until his death.</p>
</blockquote>