<p>
  From his obituary:
</p>
<blockquote>
  <p>Chris Minor-Mulholland</p>
  <p>After a long and difficult two year battle with AIDS, Chris died peacefully early Saturday morning with his domestic partner Richard and their two cats Heidi and Durc by his side.</p>
  <p>Chris was born in New rleans in 1965 and a year later movedto Atlanta. When Chris began the sixth grade it was at Tullulah Falls Boarding
School in Northern Georgia, where he was very active in track and gymnastics. In 1983 he was valedictorian of his graduating class. After Chris graduated, he returned to Atlanta and was always on the move. He held a wide variety of jobs, mainly at local gay bars. He volunteered a great deal of time at AID Atlanta and the Names Project Atlanta. In l988 Chris became the first and only Mr. Dixie Drummer. Soon after this he moved to San Francisco.</p>
  <p>Chris was a familiar face in San Francisco almost immediately. He worked a variety of jobs including Image Leather, the Eagle and Pleasuredome. He started his own custom leather company, Leather Rebel, and a motorcycle detailing company, Shineboy. Chris also continued his spirit of giving by volunteering at the Names Project and several other charitable organizations.</p>
  <p>Chris, with several friends, was a founding member of the clean and
sober leather ‘club, the Trusted Servants. Chris was so proud of his 81/2
years of continuous sobriety. It was a constant source of strength and pride to others as well as himself. On February 14, 1991, Chris and his lover Richard became the first couple in San Francisco to register as domestic partners.</p>
</blockquote>
