<p>
  From his obituary:
</p>
<blockquote>
  <p>David Anthony Duran died n Cathedral City of HIV and KS complications.</p>
  <p>Anyone meeting David was immediately taken by his smile, good looks, and sincere spirit.</p>
  <p>Born and raised in Oakdale, Cali., he was a state wrestling champion while in high school. He worked a short time at the local Hershey chocolate factory before making his big move to the Russian River resort area. There he became a popular bartender at the Triple R, Drums, Fifes, and eventually at the Woods. It was while working at the woods that David met one of the owners, Al Knopka, who would be his friend for life. Their friendship would take David to San Diego and eventually to Cathedral City, as well as travels to Hawaii, Mexico, Germany, Holland and Greece.</p>
  <p>I met David while he was working at the Woods. He showed me love, kindness and friendship that continued through his time at the Rive, in San Diego, Palm Springs, and especially in San Francisco.</p>
  <p>During his time in San Francisco, he tended bar at Moby Dick;s, worked out in the local gyms and had a joyous time winning one of the SF Eagle bare chest contests. (Yes, even in spite of Mr. Marcus.)</p>
  <p>While in San Diego, he met Jim Rhodes and reestablished friendship with his high school chum, "Don, the Nurse." All of them, including his loving and special mother, Susie, and brother Joe, were with him in his final days. Even then, after a coma of several days, he awakened to give one last sweet smile and went on to other journeys.</p>
  <p>David, you were loving and you shall continue to be loved.</p>
  <p>His wishes were to have his ashes spread in Hawaii and on the Greek island of Mykonos -- his favorite places to travel.</p>
</blockquote>
