<p>
  From his obituary:
</p>
<blockquote>
  <p>Artist - Friend - Activist</p>
  <p>In 1989, when AIDS Dementia was not being discussed openly, Eric started a project, "I Still Am", to educate the public, doctors, caregivers, and their families about AIDS Dementia through a humanizing
and caring approach, in the hope of overcoming the fear and denial associated with Dementia. The projects videotape is now being used by over 400 organizations in five countries. Although focused on
Dementia, the message "I Still Am" gives hope to those with AIDS who need to affirm their ownselves, and in doing so gives a deserved dignity to those afflicted.</p>
  <p> And for all those who have gone before... they still are....in the hearts and minds of those who remain....precious memories of life and
times passing.</p>
</blockquote>
<p>His name is engraved in the <a href="http://www.aidsmemorial.org/circle-of-friends-names">Circle of friends</a> in AIDS Memorial Grove.
