<p>
  From his obituary:
</p>
<blockquote>
  <p>Grant Dupont passed away quietly on Thursdaym December 3l0, i999 at St. Mary's Hospital from complications due to AIDS. Grant was horn in South Africa on February 6,1962 and spent his childhood there. He later moved to
Amsterdam where he lived for some time and then found his way here to San
Francisco.</p>
  <p>He soon became well known in the leather community as a result of his
work in modeling and bartending, as well as his employment in several local
leather businesses including A Taste of Leather and Image Leather, where he
added his own special ﬂair to the wardrobes of many local leathermen
and leatherwomnen.</p>
  <p>Grant also gained visibility in the community by helping our with a number of fundraisers, and by his avid participation in the Gay Pride Parade and the Leatherwalk. in 1998 he took over the reins for the Leatherwalk by serving as co-organizer, and again in 1999 as the sole organizer. Thanks to his hard work, both years brought in much needed donations for the AIDS Emergency Fund.</p>
  <p>Even when not taking an active role in community events. Grant was always quite visible standing on the sidelines, attired in one of his many embellished leather outﬁts, or dancing at a local club with his fans and ﬂags.</p>
  <p>Grant is survived by his loving mother Shirley Hartman and his sister
Pauline Lambert, both of South Africa, as well as by his many friends, both here in San Francisco and in New Orleans, where he enjoyed many Mardi Gras and Southern Decadence Day festivities, and where he had eventually planned to move.</p>
</blockquote>
<p> He was also Mr Watering hole 1991, a leather bar at 1145 Folsom St that was also the Red Star Saloon (lot of leather bars only lasted a few years before re-opening with new names).</p>
