<p>
  From his obituary:
</p>
<blockquote>
  <p>Jim Cvitanich, creator of <i>Men Behind Bars</i>, died peacefully Feb 27 of AIDS.
  </p>
  <p>
    He was born in San Pedro, Calif., where his father John Sr., Brother John and sister Janet Pagni still reside. After earning degrees in English, secondary education and a master's in theatre arts, Jim moved to New York City to try his hand in the "real world" of theatre. New York was a wonderful adventure, but ultimately it was his desire to return to the West Coast -- and San Francisco seemed an ideal choice.
  </p>
  <p>
    Jim always felt that San Francisco had been the most generous to him. He bartended for nine years at the Pilsner Inn and was the driving force behind one of the bar's most popular parties, The Valentine's Day Sock Hop.
  </p>
  <p>
    In 1982 he was selected Mr SF Leather and used this recognitation to initiate a series of AIDS fundraising activities. By far the most popular of the fundraisers he created were the Men Behind Bars shows. The first one wasproduced by Jim in 1984, and four more followed due to his eneries combined with the talents of co-producers Mark Abramson and Wayne Fleisher. The shows have the distinction of being placed in the Cable Car Hall of fame as Outstanding Aids Fundraisers.
  </p>
  <p>
    However, these shows really were/are a tribute to the boudnless energy of the casts and crews and immensely supportive audiences. The production team also produced disco-dance parties at Pier 45 (Pier Pressure I & II) and Fort Mason (High Tea).
  </p>
  <p>
    Jim is forever thankful that he had the opportunity to make people laugh and enjoy themselves and that he was able to share his life with two utterly inane, totally special roommates, Joe Johns and Michael Frangella, and his older/younger sister Janet (Johnny -- keep an eye on her!).
  </p>
</blockquote>