<p>
  From his obituary:
</p>
<blockquote>
  <p>With his devoted friend and lover, Steve Hill, at his side, Jimmy died of AIDS complications May 8. But for the time he was with us, Jimmy personified vitality, compassion, and above all, a persistent determination to live life to its fullest. He gorged on life's banquet and died totally satiated.</p>
  <p>Yes, Jimmy was a powerhouse of physical energy that constantly resonated from his diminutive but muscular body. However, his real strength and power lay in his gentle kindness and genuine concern for his innumerable friends.</p>
  <p>Jimmy was honorable discharged from the Army in 1972. He worked for Levi's, Espirit, Photo and Sound, San Francisco Gym, and most importantly, was the organist for University Lutheran Chapel. While there, we shared his great love of music with an equally loving congregation.</p>
</blockquote>