<p>
  From his obituary:
</p>
<blockquote>
  <p>Our friend, son and brother, Ken McMullen, died of AIDS on Thursday, June 13. His life though short was intense, and left each of us who knew him feeling more loved and complete.</p>
  <p>Born September 9, 1955, in Colorado and raised in the suburbs of
Denver, Ken studied at and graduated from the University of Colorado at Ft. Collins. Upon graduation, Ken moved to San Francisco to work as a software
engineer for Hewlettt-Packard and enjoy the beaches, culture and freedom of
his favorite city. He loved hiking (particularly at Point Reyes) and the theater, dance and music scenes of San Francisco He was an active participant in the leather community and an avid bridge player. His love of diversity and travel led him on many well-chronicled “adventures” shared and treasured by all who knew him.</p>
</blockquote>