<p>Born in Detroit, Michigan.</p>
<p>Lance had a very busy year in 2000. Along with appearing in the calendar, he was also <a href="http://www.powerhousebar.com/mr-powerhouse-winner/">Mr. Powerhouse 2000</a> and Mr. SF Leather 2000!</p>

<p>During his speech at IML (which he made it into the top 20), <a href="http://leathercolumn.blogspot.com/2000_06_01_archive.html">he brought up surviving domestic abuse:</a></p>
<blockquote>
  <p>“I want to talk to you tonight about a subject that’s really close to my heart. I used to have a boyfriend who liked to hit me. Now, in our community, we can play a little rough sometimes, but hopefully we always remember that safe, sane, and consensual is our creed. But I am not talking about consensual activity here, and there was certainly nothing sane about it. And I’m here tonight to ask you to please, know enough to know the difference. And most importantly, if you find yourself in one of these relationships, love yourself enough to get the hell out. I stand here before you tonight, not as a victim, but as a survivor. And you know that little song, “If they could see me now”? Well, if he could see me now.</p>

  <p>“You know, we as a community have a responsibility here too. If your blood brother or sister was being beaten and you knew about it, you would do something. Look around. These are your brothers and sisters. You need to do something. Do not wait until it’s too late if you know something is going on. Do it now, I beg of you.”</p>
</blockquote>

<p>He has since been a <a href="http://www.imdb.com/name/nm0311238/">pretty active porn actor from 1998-2006</a>.</p>

<p><a href="http://mamas-family.org/boys_girls.html">He is #112 in mama's famlily -- Mama's gear</a>.</p>