<p>
  From his obituary:
</p>
<blockquote>
  <p>Pete moved to San Francisco in 1980. He found a warm, loving environment where he could live his life the way he chose. He died in the arms of his love,r David, after a long and courageous struggle against complications from AIDS. He had been comforted through his illness and hospitalization by his dead and beloved friend, Michele, and had an opportunity to say goodbye to his family as they all came out from Boston to comfort and help care for him during his final weeks.</p>
  <p>Long active in the South of Market Leather/Levi Community, Pete's handsome visage graced the SF Eagle's Bare Chest Calendar, he won the 1985 Mr SF Eagle title and represented them at the international Mr. Leather Contest in Chicago, and he was the 1987 Mr. Norther California Drummer.</p>
  <p>He worked willingly and tirelessly for any benefit or cause of importance to the gay community. He will be long remembered for his stunning performance as Vito, the mild mannered stage manager transformed into Elvis, in Men Behind Bars IV. His quick wit and extraordinary sense of humor, coupled with his caring, compassionate nature will be sorely missed by all who knew and loved him.</p>
</blockquote>