<p>
  From his obituary:
</p>
<blockquote>
  <p>Community arts advocate and supporter Phil Tuggle marched on to that higher plane on Dec. 28 from complications related to AIDS.</p>
  <p>From the time he was five years old Phil wanted to be around show people. He remembered telling his mom, "I want to be the man who opens and closes the curtain at the theatre."</p>
  <p>His adult journey took him from the Chicago area where he was born to Iowa State University where he got hisBS. in Speech and Telecommunications, then on to a short career in Hollywood television. In Los Angeles, he was active with the Los Angeles Gay Men's Chorus He made his way to San Francisco in the early '80s.</p>
  <p>At WellsFargo Bank he was Assistant Vice President until he took disability leave in the summer of 1991. He got involved in promoting and
supporting the interests of lesbian and gay artists. This lead to his work as the extecutive producer of "Outlook Video." He brought that group in as a member unit of the Jon Sims Carter for the Performing Arts With the Sims Center he held several important positions including Executive Director (funded by a six-month Social Service Leave from Wells Fargo).</p>
  <p>The recreational side of Phil's life was as a physical fitness enthusiast and weightlifter. He won the South of Market Bare Chest Contest in September 1989.</p>
</blockquote>
