<p>
  From his obituary:
</p>
<blockquote>
  <p>Richard Ruggiero, born in 1949 in Brooklyn, N.Y., passed into the light on June 13, 1988, at Ralph K. Davies Hospital after a courageous battle with AIDS. His passing will leave much emptiness in the lives of all he touched.</p>
</blockquote>
<p>Note on year of birh: while his obituary says 1950, <a href="http://death-records.mooseroots.com/l/214290763/Richard-Michael-Ruggiero">this death record with same name and day of death says 1949</a>. The obituary uses the a cropped version of his calendar image.</p>