<p>From his obituary:</p>
<blockquote>
  <p>On December 17, 2007, William  Scott Strang, beloved son of William Joseph Strang and the late Dorothy Wesley Strang, died unexpectedly.</p>
<p>Scott was born in Pittsburgh, Pennsylvania on April 5, 1956 to a family who loved him unconditionally. He started his career as a registered nurse in Pittsburgh, moved to Washington, DC, and made his home for the last 1 1 years in San Francisco. He had loving friends around the world and he touched and warmed the lives of many people, including the patients in his home health care practice.</p>

<p>Scott’s big heart led to his volunteering at numerous local San Francisco charities including Project Inform, the HIV Care program at St. Francis Memorial Hospital, the SOMA Bare Chest Calendar, and the AIDS Emergency Fund.</p>

<p>Scott is survived by his partner Larry Massen of San Francisco; his father William Joseph Strang of Pittsburgh; his sister Kimberly Ann Strang of Columbia, Maryland and her husband William Manning; and his sister Sue Ellen Strang of Burlington, Vermont, and her husband Paul Carlile and their children Peter and Rita Carlile.</p>

<p>Scott was predeceased by partner Ronald Nirschl of Pittsburgh, in 1994.</p>