<ol class="breadcrumb pull-left">
  <li><a href="#/">Home</a></li>
</ol>
<span class="clearfix"></span>
<div class="container-fluid calendars-wrappers">
  <div class="row">
    <div ng-repeat="(year, calendar) in calendars track by $index" ng-if="calendar">
      <div class="col-sm-2">
        <a href="#/calendar/{{calendar.year}}" class="thumbnail">
          <img ng-src="{{getCalendarCover(calendar)}}" alt="{{calendar.year}}" class="img-rounded">
          <div class="caption">
            <h3>{{calendar.year}}</h3>
          </div>
        </a>
      </div>
      <div class="clearfix" ng-if="($index + 1) % 6 == 0"></div>
    </div>
  </div>
</div>