<ol class="breadcrumb pull-left">
  <li><a href="#/">Home</a></li>
</ol>
<span class="clearfix"></span>
<div class="container-fluid calendars-wrappers">
  <div class="row">
    <div ng-repeat="(year, calendar) in calendars | orderBy:0:false">
      <div class="col-xs-6 col-md-2">
        <a href="#/calendar/{{year}}" class="thumbnail">
          <img ng-src="{{getCalendarCover(calendar)}}" alt="{{year}}">
          <div class="caption">
            <h3>{{year}}</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>