<uib-carousel>
  <uib-slide index="0" active="true">
    <img ng-src="/images/beach.jpg" style="margin:auto;">
    <div class="carousel-caption">
      <h4>Hunter Fox</h4>
      <p>Photo by RC</p>
    </div>
  </uib-slide>
  <uib-slide index="1">
    <img ng-src="/images/pinktraingle.jpg" style="margin:auto;">
    <div class="carousel-caption">
      <h4>Helping to put up the pink triangle</h4>
      <p>Every year during pride, <a href="http://www.thepinktriangle.com/">volunteers</a> spread pink tarps in the shape of a pink triangle across twin peaks.</p>
    </div>
  </uib-slide>
  <uib-slide index="2">
    <img ng-src="/images/plunge.jpg" style="margin:auto;">
    <div class="carousel-caption">
      <h4>Plunge!</h4>
      <p>Every few months, friends arrange a 'polar plunge' where we all run into the ocean then out.</p>
    </div>
  </uib-slide>
  <uib-slide index="3">
    <img ng-src="/images/kitty.jpg" style="margin:auto;">
    <div class="carousel-caption">
      <h4>Dress up!</h4>
      <p>The more glitter the better!</p>
    </div>
  </uib-slide>
  <uib-slide index="4">
    <img ng-src="/images/sauve2.jpg" style="margin:auto;">
    <div class="carousel-caption">
      <h4></h4>
    </div>
  </uib-slide>
</uib-carousel>
